<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umeng.uniappdemo">

    <application
        android:name="MyApplication"
        tools:replace="android:name"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name="io.dcloud.PandoraEntry"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="user"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.dcloud.PandoraEntryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale|keyboard|smallestScreenSize|screenLayout|screenSize"
            android:hardwareAccelerated="true"
            android:permission="com.miui.securitycenter.permission.AppPermissionsEditor"
            android:screenOrientation="user"
            android:theme="@style/DCloudTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="h56131bcf" />
            </intent-filter>
        </activity>
        <provider
            android:name="io.dcloud.common.util.DCloud_FileProvider"
            android:authorities="com.android.simple.dc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/dcloud_file_provider" />
        </provider>
        <meta-data
            android:name="dcloud_appkey"
            android:value="2a9da755458893d69b9c220ab2c67681" />
        <!-- 如果UMENG_LOG配置值为1，告知SDK打开调试日志 -->
        <meta-data
            android:name="UMENG_LOG"
            android:value="1" />
        <!-- UMENG_MODE配置值为0，对应SDK自动采集模式。UMENG_MODE配置值为1，对应SDK手动采集模式。-->
        <meta-data
            android:name="UMENG_MODE"
            android:value="0" />
        <!--注意：UMENG_NOACTIVITYPATH 配置项仅在 UMENG_MODE 配置值为 1 时才需要配置。
        此配置项配置值如果是1，告知SDK不自动采集Activity页面路径。配置项值如果是0，告知SDK自动采集
        Activity页面路径。-->
        <meta-data
            android:name="UMENG_NOACTIVITYPATH"
            android:value="1" />
        <!--设置SDK收数服务主域名和备用域名，如果没有备用域名，对应配置值可以是空字符串-->
        <meta-data
            android:name="UMENG_URL"
            android:value="https://您的收数域名" />
        <!-- 如果没有备用收数域名，UMENG_URL2配置项值可以为空串。-->
        <meta-data
            android:name="UMENG_URL2"
            android:value="" />
        <!-- 如果appkey为纯数字，需要在其开头加一个"#"号字符。-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="##64632267" />
        <!-- 渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xyz" />
    </application>

</manifest>
